<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title> Todo List Vue.js</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div id='app'>
            <p>
                <input type="text" v-model='form'>
            </p>
            <p>
                <button @click="addTodo(form)">Add</button>
            </p>
            <div v-for="(todo, index) in todos">
                <input type="checkbox" v-model="todo.is_done">
                <p v-bind:class="{ checked: todo.is_done }">{{ todo.name }}</p>
                <button @click="deleteTodo(index)">Delete</button>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.20/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>